@import "../../../const/settings.scss";
.wpPageDetailClinic {
  background: #fff;
  .wpDetailClinicDetail {
    .floatButton {
      display: none;
    }
    .nav {
      padding: 15px 0;
      display: flex;
      max-width: 1200px;
      margin: auto;
    }
    .wpSectionCover {
      position: relative;
      .wpCover {
        display: flex;
        justify-content: center;
        background: #dbeffa;
        .cover {
          max-width: 995px;
          max-height: 500px;
          margin: auto;
          position: static !important;
          object-fit: cover;
          margin-top: 71px;
          border-top-right-radius: 16px;
          border-top-left-radius: 16px;
          z-index: 9;
        }
      }
      .imgAbove {
        position: absolute;
        top: 0px;
        right: 0px;
      }

      .imgBelow {
        position: absolute;
        bottom: -5px;
        left: 0;
      }
      .imgAboveMobile, .imgBelowMobile {
        display: none;
      }
    }
    .wpLineCard {
      display: flex;
      justify-content: center;
    }
    .wpCardInfo {
      //   display: flex;
      //   justify-content: center;
      background: #f9f9f9;
      max-width: 995px;
      width: 100%;
      padding: 24px 48px;
      display: flex;
      flex-direction: column;
      border-radius: 0px 0px 16px 16px;
      .wpCardAbove {
        display: flex;
        .wpCardLeft {
          margin-right: 24px;
          .logo {
            width: 140px !important;
            height: 140px !important;
            position: static !important;
            border-radius: 50%;
            object-fit: contain;
          }
        }
        .wpCardRight {
          width: 100%;
          .clinicName {
            color: var(--Color-Bg-Navy, #2a3467);
            /* H3 */
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%; /* 41.6px */
            text-transform: capitalize;
          }
          .wpAddress {
            display: flex;
            margin-top: 10px;
            color: var(--Color-Bg-Navy, #2a3467);
            /* P2/Normal */
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            align-items: center;
            .iconLocation {
              width: 20px;
              height: 20px;
              margin-right: 8px;
            }
          }
          .wpRatingLine {
            display: flex;
            margin-top: 24px;
            margin-bottom: 16px;
            align-items: center;
            .dash {
              width: 1px;
              height: 24px;
              background: var(--Color-Bg-Orange, #ddd);
              margin-left: 16px;
              margin-right: 16px;
            }
            .wpPoint {
              display: flex;
              align-items: center;
              .ratingPoint {
                display: flex;
                .point {
                  color: #ffa800;

                  /* H3.5 */
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 100%; /* 31.2px */
                  padding: 6px 10px;
                  border-radius: 8px;
                  border: 2px solid #ffa800;

                  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
                }
                .iconRatingStar {
                  margin-left: 8px;
                }
              }

              .ratingRank {
                color: #ffa800;

                /* H4 */
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%; /* 30px */
                text-transform: capitalize;
              }
            }
            .wpCount {
              display: flex;
              align-items: center;
              .ratingQuantity {
                color: var(--Color-Text, #6884a7);
                /* P2/Normal */
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 24px */
                .ratingQuantityBold {
                  color: var(--Color-Bg-Navy, #2a3467);
                  /* P2/Bold */
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 150%; /* 24px */
                  margin-right: 8px;
                }
              }
              .numberOfConsultation {
                color: var(--Color-Text, #6884a7);
                /* P2/Normal */
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 24px */
                .numberOfConsultationBold {
                  color: var(--Color-Bg-Navy, #2a3467);
                  /* P2/Bold */
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 150%; /* 24px */
                  margin-right: 8px;
                }
              }
            }
          }
          .wpLastLine {
            .wpScale {
              display: flex;
              margin-top: 8px;
              align-items: center;
              width: 100%;
              .titleScale {
                margin-left: 8px;
                color: var(--Color-Bg-Navy, #2a3467);
                /* P2/Bold */
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%; /* 24px */
                margin-right: 8px;
              }
              .valueScale {
                color: var(--Color-Bg-Navy, #2a3467);
                /* P2/Normal */
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 24px */
              }
            }
            .wpTime {
              display: flex;
              margin-top: 8px;
              align-items: center;
              width: 100%;
              .titleScale {
                text-wrap: nowrap;
                margin-left: 8px;
                color: var(--Color-Bg-Navy, #2a3467);
                /* P2/Bold */
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%; /* 24px */
                margin-right: 8px;
              }
              .valueScale {
                margin-left: 8px;
                color: var(--Color-Bg-Navy, #2a3467);
                /* P2/Normal */
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 24px */
              }
            }
            .wpbuttonGetAdvise {
              display: flex;
              border-radius: 8px;
              background: var(--Color-BrandColor, #00c5d7);
              width: fit-content;
              padding: 16px;
              color: #fff;
              cursor: pointer;

              /* P1/Bold */
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%; /* 27px */
              align-items: center;
              .iconAdvise {
                margin-right: 8px;
              }
            }
            .wpButton {
              display: flex;
              align-items: center;
            }
          }
        }
      }
      .wpCardBelow {
        display: none;
      }
    }
    .wpMenu {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 82px;
      white-space: nowrap;
      overflow: auto;
      max-width: 1200px;
      margin: auto;
      margin-top: 64px;
      @include media(ssm_430) {
        top: 68px;
      }
    }
    .wpSection {
      display: flex;
      max-width: 1200px;
      margin: auto;
      width: 100%;
      .wpSectionLeft {
        width: calc(100% - 380px);
        .wpSectionOverview {
          .wpOverview {
            padding: 40px 24px 24px 24px;
            border-radius: 16px;
            background: var(--Bg, #f9f9f9);
            margin-top: 24px;
            .wpProgressLine {
              margin-bottom: 12px;
              .progressLine {
                display: flex;
                justify-content: space-between;
                margin-top: 6px;
                .titleProgressLine {
                  color: var(--Color-Text, #6884a7);
                  /* P2/Normal */
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 150%;
                }
                .valueProgressLine {
                  color: var(--Color-Primary, #2a3467);
                  text-align: center;
                  /* P2/Bold */
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 150%; /* 24px */
                }
              }
            }
            .colCircleProgress {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .buttonViewReview {
            color: var(--Color-BrandColor, #00c5d7);
            text-align: right;
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
            line-height: 150%;
            margin-top: 24px;
            cursor: pointer;
          }
          .overviewPoint {
            color: var(--Color-Primary, #2a3467);
            text-align: center;
            /* H2 */
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%; /* 52px */
            text-transform: capitalize;
          }
          .overviewPointText {
            color: var(--Color-Primary, #2a3467);
            text-align: center;
            /* P1/Bold */
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 27px */
          }
        }
        .titleSection {
          color: var(--Color-Bg-Navy, #2a3467);
          /* H3.5 */
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 130%;
          margin-bottom: 16px;
        }
        .dash {
          height: 1px;
          width: 100%;
          background: #bcf5ff;
        }
      }
      .wpChat {
        width: 380px;
      }
    }
  }
}

.wrapperListPost {
  .wpBlockUser {
    display: flex;
    margin-bottom: 14px;

    .img {
      width: 44px !important;
      height: 44px !important;
      border-radius: 50px;
    }
  }
}
@include media(lg) {
  .wpPageDetailClinic {
    .wpDetailClinicDetail {
      .wpSection {
        .wpSectionLeft {
          width: 100%;
        }
        .wpChat {
          display: none;
        }
      }
      .floatButton {
        display: none;
      }
    }
  }
}
@include media(lg) {
  .wpPageDetailClinic {
    .wpDetailClinicDetail {
      .nav {
        margin: 0 20px;
      }
      .wpSectionCover {
        .wpCover {
          padding: 0 20px;
        }
      }
      .wpCardInfo {
        margin: 0 20px;
        padding: 20px;
      }
    }
  }
}
@include media(md) {
  .wpPageDetailClinic {
    .wpDetailClinicDetail {
      .nav {
        margin: 0 15px;
      }
      .wpSectionCover {
        .wpCover {
          padding: 0 15px;
          .cover {
            height: 175px !important;
          }
        }
      }
      .wpCardInfo {
        margin: 0 15px;
        padding: 14px;
        .wpCardAbove {
          .wpCardLeft {
            margin-right: 14px;
            .logo {
              width: 60px !important;
              height: 60px !important;
            }
          }
          .wpCardRight {
            .clinicName {
              font-size: 20px;
            }
            .wpAddress {
              font-size: 14px;
              margin-top: 7px;
            }
            .wpRatingLine {
              margin-top: 7px;
              flex-direction: column;
              align-items: flex-start;
              margin-bottom: 0;
              .wpPoint {
                margin-bottom: 12px;
                .ratingPoint {
                  display: flex;
                  align-items: center;
                  .point {
                    font-size: 16px;
                  }
                  .iconRatingStar {
                    height: 22px;
                    width: 22px;
                  }
                }
                .ratingRank {
                  font-size: 14px;
                }
                .dash {
                  display: none;
                }
              }
              .wpCount {
                margin-bottom: 12px;
                .ratingQuantity {
                  font-size: 12px;
                  .ratingQuantityBold {
                    font-size: 14px;
                  }
                }
                .numberOfConsultation {
                  font-size: 12px;
                  .numberOfConsultationBold {
                    font-size: 14px;
                  }
                }
              }
            }
            .wpLastLine {
              .wpScale {
                margin-top: 0;
                .titleScale {
                  font-size: 14px;
                }
                .valueScale {
                  font-size: 14px;
                }
              }
              .wpTime {
                .titleScale,
                .valueScale {
                  font-size: 14px;
                }
              }
              .wpbuttonGetAdvise {
                display: none;
              }
            }
          }
        }
        .wpCardBelow {
          display: block;
          margin-top: 14px;
          .wpbuttonGetAdvise {
            display: flex;
            padding: 14px 21px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 8px;
            background: var(--Color-BrandColor, #00c5d7);
            color: #fff;
            cursor: pointer;

            /* P3/Bold */
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 21px */
            .iconAdvise {
              margin-right: 8px;
            }
          }
        }
      }
      .wpMenu {
        margin-top: 49px;
        top: 68px
      }
      .wpSection {
        .wpSectionLeft {
          width: 100%;
          .titleSection {
            font-size: 20px;
          }
          .wpSectionOverview {
            // margin: 50px 15px 0;
            .buttonViewReview {
              margin-top: 21px;
              font-size: 12px;
            }
            .wpOverview {
              padding: 21px;
              .wpProgressLine {
                .progressLine {
                  .titleProgressLine {
                    font-size: 14px;
                  }
                  .valueProgressLine {
                    font-size: 14px;
                  }
                }
              }
              .colCircleProgress {
                margin-bottom: 28px;
              }
            }
          }
        }
        // .wpChat{
        //   display: none;
        // }
      }
    }
  }
}

@include media(ssm_430) {
  .wpPageDetailClinic {
    .wpDetailClinicDetail {
      .floatButton {
        border-radius: 99px;
        border: 4px solid #00c5d7;
        height: 80px;
        width: 80px;
        display: block !important;
        position: fixed;
        bottom: 88px;
        right: 14px;
        z-index: 999;
        img {
          border-radius: 99px;
        }
        .arrowFloatButton {
          position: absolute;
          bottom: -2px;
          right: -2px;
        }
        .chatAlert {
          position: absolute;
          left: -4px;
          top: -4px;
        }
      }
      .wpSectionCover {
        position: relative;
        .wpCover {
          display: flex;
          justify-content: center;
          background: #dbeffa;
          .cover {
            margin-top: 49px;
          }
        }
        .imgAboveMobile {
          display: block !important;
          position: absolute;
          top: 0;
          right: 0;
        }
        .imgBelowMobile {
          display: block !important;
          position: absolute;
          bottom: -5px;
          left: 0;
        }
        .imgAbove, .imgBelow {
          display: none;
        }
      }
    }
  }
}
