@import "../../const/settings.scss";
.frequentlyquest {
  background-color: #fff;
  margin-top: 48px;
  .ant-collapse {
    max-width: 1200px;
    border: none;
    margin: auto;
    background-color: #fff;
    .ant-collapse-header{
      padding: 0;
    }
    .ant-collapse-content-box{
      padding: 0;
      margin-bottom: 0;
      p{
        margin-top: 16px;
        margin-bottom: 0;

      }
    }
    .ant-collapse-item:last-child {
      margin-bottom: 0;
    }
    .ant-collapse-item {
      border: none;
      margin-bottom: 16px;
      padding: 24px 32px;
      background-color: #f9f9f9;
      border-radius: 8px;
      .ant-collapse-header {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        h3{
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 30px */
          text-transform: capitalize;
          color: #2a3467;
          flex-direction: row-reverse;
          margin-bottom: 0;
        }
        .ant-collapse-arrow {
          margin-left: 15px;
          margin-right: 0;
        }
      }
      .ant-collapse-content {
        border: none;
        background-color: #f9f9f9;
        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          color: #6884a7;
        }
      }
    }
  }
}
@include media(lg) {
  .frequentlyquest{
      .ant-collapse{
          .ant-collapse-item {
              padding: 21px;
              .ant-collapse-header{
                h3{
                  font-size: 18px !important;
                }
              }
              .ant-collapse-content{
                  .ant-collapse-content-box{
                      p{
                          font-size: 14px;
                      }
                  }
              }
          }
      }
  }
}
