@import "../../src/const/settings.scss";
.wpMain {
  overflow: hidden;
  background: #fff;
  .wpTop{
    width: 100%;
    background: #f6f7ea;
    .wpSectionSearch {
      // z-index: 1;
      padding-bottom: 100px;
      max-width: 1200px;
      height: 750px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      .wpCoverHome {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .coverHome {
          // height: 750px;
          // width: 100%;
          // object-fit: cover;
          // object-position: top;
          width: 500px;
          height: auto;
        }
      }
  
      .wpContentSearch {
        // position: absolute;
        // z-index: 1;
        // margin: auto;
        // margin-left: 120px;
        // width: 42%;
        flex: 1;
        display: flex;
        justify-content: center;
  
        .title {
          color: var(--color-primary,#013533 );
          text-align: center;
          /* H1 */
          // font-family: Roboto Flex;
          font-size: 50px;
          font-style: normal;
          font-weight: 600;
          line-height: 130%; /* 72.8px */
          text-transform: capitalize;
          span{
            color: #5ab069;
          }
        }
      }
    }
  }
}

@include media(lg) {
  .wpMain {
    .wpSectionSearch {
      .coverHome {
      }
    }
  }
}
@include media(md) {
  .wpMain {
    .wpSectionSearch {
      height: 725px;
      background-size: cover;
      background-position: bottom;
      display: flex;
      flex-direction: column;
      padding-bottom: 150px !important;
      h2{
        font-size: 42px !important;
      }
      .coverHome {
        // display: none;
        width: 350px !important;
      }
      .wpContentSearch {
        margin: 0;
        width: 100%;
        position: static;
        padding: 0 15px;
        margin-top: 50px;
        .title {
          font-size: 32px;
        }
        .subTitle {
          font-size: 14px;
        }
        .formSearch {
          max-width: none;
          width: 100%;
        }
      }
    }
  }
}
