.dropdownHeaderMobile .dropdownHeaderMobileItem {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  justify-content: space-between;
  color: #2a3467;
}
.dropdownHeaderMobile .dropdownHeaderMobileItem:nth-child(1) {
  margin-top: 49px;
}
.dropdownHeaderMobile .dropdownHeaderMobileItem.opened {
  background: #f9f9f9;
}
.dropdownHeaderMobile .dropdownLink {
  display: flex;
  justify-content: space-between;
}

.ant-drawer-content-wrapper {
  width: calc(100% - 49px) !important;
}
.ant-drawer-content-wrapper .ant-drawer-header {
  display: none;
}
.ant-drawer-content-wrapper .ant-drawer-body {
  padding: 0;
}

.ant-menu-inline {
  max-height: 0px;
  overflow: auto;
  overflow-x: hidden;
  background: #f9f9f9;
  font-size: 14px;
  line-height: 21px;
  transition: max-height 0.2s ease-out;
}
.ant-menu-inline a {
  font-size: 14px;
  color: #2a3467;
}
.ant-menu-inline a :hover {
  color: #2a3467;
}

.dropdownHeaderMobileItem.opened + .ant-menu-inline {
  max-height: 219px;
}

.ant-dropdown-menu {
  margin-top: 5px;
  border-radius: 8px;
}
.ant-dropdown-menu .ant-dropdown-menu-title-content {
  color: #2a3467;
  font-size: 16px !important;
}

.drop-content {
  width: auto;
  background-color: #fff;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  width: 400px;
  margin-top: 5px;
  padding: 6px 0;
}
.drop-content a {
  color: #2a3467;
  font-size: 16px !important;
  padding: 0 12px;
}

#user-dropdown .ant-dropdown-menu {
  margin-top: 25px;
}
#user-dropdown .labelSignOut {
  border: none;
  background: none;
}

#my-courses .wp-my-course {
  display: flex;
  align-items: center;
}
#my-courses .wp-my-course .img-course {
  width: 50px !important;
  height: 30px !important;
  object-fit: cover;
  margin-right: 8px;
  position: relative !important;
}
#my-courses .wp-my-course .title-orther-course {
  font-size: 16px;
  font-weight: 600;
  color: #013533;
  line-height: 186%;
}