@import "src/const/settings.scss";
.dentistryItem {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
  .dentistryImg {
    height: 320px !important;
    width: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    position: static !important;
    min-height: 320px;
  }
  .dentistryInfo {
    padding: 24px;
    display: flex;
    background-color: #f9f9f9;
    border-radius: 0px 0px 16px 16px;
    height: 100%;
    flex-direction: column;
    .dentistryLogo {
      margin-right: 16px;
      .img {
        object-fit: cover;
        width: 80px !important;
        height: 80px !important;
        position: static !important;
        border-radius: 100px;
        background-color: #fff;
      }
    }
    .dentistryDetails {
      flex-grow: 1;
      .coverContainer {
        display: flex;
        align-items: center;
        .dentistryName {
          text-transform: capitalize;
          font-weight: 600;
          color: #2a3467;
          font-size: 20px;
          margin-bottom: 8px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }
      .wpRatingLine {
        display: flex;
        margin-bottom: 16px;
        align-items: center;
        .wpPoint {
          display: flex;
          align-items: center;
        }
        .ratingPoint {
          display: flex;
          align-items: center;
          .point {
            color: #ffa800;

            /* H3.5 */
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 31.2px */
            padding: 4px 8px;
            border-radius: 8px;
            border: 2px solid #ffa800;
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
          }
          .iconRatingStar {
            margin-left: 8px;
            width: 32px;
            height: 32px;
            margin-right: 8px;
          }
        }
        .dash {
          width: 1px;
          height: 24px;
          background: var(--Color-Bg-Orange, #ddd);
          margin-left: 8px;
          margin-right: 8px;
        }
        .ratingRank {
          color: #ffa800;

          /* H4 */
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 30px */
          text-transform: capitalize;
        }
        .count {
          display: flex;
          align-items: center;
          .ratingQuantity {
            color: var(--Color-Text, #6884a7);
            /* P2/Normal */
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            .ratingQuantityBold {
              color: var(--Color-Bg-Navy, #2a3467);
              /* P2/Bold */
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%; /* 24px */
              margin-right: 8px;
            }
          }
          .numberOfConsultation {
            color: var(--Color-Text, #6884a7);
            /* P2/Normal */
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            .numberOfConsultationBold {
              color: var(--Color-Bg-Navy, #2a3467);
              /* P2/Bold */
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%; /* 24px */
              margin-right: 8px;
            }
          }
        }
      }
      .dentistryContainer {
        display: flex;
        margin-bottom: 16px;
        .dentistryAT {
          display: flex;
          align-items: center;
          border: 1px solid #ddd;
          border-radius: 8px;
          padding: 4px 8px;
          background-color: #fff;
          p {
            color: #2a3467;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            margin: 0 0 0 8px;
          }
          .icon {
            width: 20px;
            height: 20px;
          }
        }
        .dentistryAT:nth-child(1) {
          margin-right: 8px;
        }
      }
      .thirdLineTag {
        display: flex;
        .buttonAdvise {
          display: flex;
          align-items: center;
          border-radius: 8px;
          border: 1px solid var(--Color-BrandColor, #00c5d7);
          height: 40px;
          padding: 0 24px;
          color: #00c5d7;
          background-color: #fff;

          /* P2/Bold */
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 24px */
          cursor: pointer;
          margin-right: 8px;
        }
        .buttonDetail {
          display: flex;
          align-items: center;
          border-radius: 8px;
          background: var(--color-brand-color, #00c5d7);
          height: 40px;
          padding: 0 24px;
          color: #fff;

          /* P2/Bold */
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 24px */
          cursor: pointer;
          margin-right: 8px;
        }
      }
    }
    .buttonMobile {
      display: none;
    }
  }
}

@include media(lg) {
  .dentistryItem {
    .wpRatingLine {
      flex-direction: column;
      align-items: flex-start !important;
      .wpPoint {
        margin-bottom: 12px;
        .dash {
          display: none;
        }
      }
    }
    .thirdLineTag {
      display: none !important;
    }
    .buttonMobile {
      display: flex !important;
      .buttonAdvise {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 8px;
        border: 1px solid var(--Color-BrandColor, #00c5d7);
        height: 40px;
        padding: 0 20px;
        background-color: #fff;
        color: #00c5d7;

        /* P2/Bold */
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 24px */
        cursor: pointer;
        margin-right: 8px;
      }
      .buttonDetail {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        text-align: center;
        background: var(--color-brand-color, #00c5d7);
        height: 40px;
        padding: 0 20px;
        color: #fff;

        /* P2/Bold */
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 24px */
        cursor: pointer;
        // margin-right: 8px;
      }
    }
  }
}

@include media(md) {
  .dentistryItem {
    width: 100%;
    .dentistryImg {
      height: 230px !important;
    }
    .dentistryInfo {
      padding: 14px;
      .dentistryLogo {
        .img {
          height: 60px !important;
          width: 60px !important;
        }
      }
      .dentistryDetails {
        .coverContainer {
          h4 {
            margin-bottom: 0;
          }
        }
        .wpRatingLine {
          margin-bottom: 12px;
          flex-direction: column;
          align-items: flex-start;
          .wpPoint {
            margin-bottom: 12px;
            .dash {
              display: none;
            }
            .ratingPoint {
              .point {
                font-size: 16px;
              }
              .iconRatingStar {
                width: 22px;
                height: 22px;
              }
              .ratingRank {
                font-size: 14px;
              }
            }
          }
        }
        .dentistryContainer {
          margin-bottom: 12px;
          .dentistryAT {
            p {
              font-size: 14px;
            }
          }
        }
        .thirdLineTag {
          display: none;
        }
      }
      .buttonMobile {
        display: flex;
        .buttonAdvise {
          flex-grow: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          border-radius: 8px;
          border: 1px solid var(--Color-BrandColor, #00c5d7);
          height: 40px;
          padding: 0 20px;
          color: #00c5d7;
          background-color: #fff;

          /* P2/Bold */
          font-size: 14px !important;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 24px */
          cursor: pointer;
          margin-right: 8px;
        }
        .buttonDetail {
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          text-align: center;
          background: var(--color-brand-color, #00c5d7);
          height: 40px;
          padding: 0 20px;
          color: #fff;

          /* P2/Bold */
          font-size: 14px !important;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 24px */
          cursor: pointer;
          // margin-right: 8px;
        }
      }
    }
  }
}
