@import "../../const/settings.scss";
.wpRgClinic {
  padding-bottom: 80px;
  overflow: hidden;
}
.wpRegistrationClinic {
  // background-color: #2a3467;
  background-image: url("../../public/image/background-contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1200px;
  padding: 68px 120px;
  border-radius: 100px 24px 24px 24px;

  margin: auto;
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      text-transform: capitalize;
      color: #013533;
      margin-bottom: 24px;
      text-align: center;
    }
    p{
      font-size: 16px;
      line-height: 130%;
      text-transform: capitalize;
      color: #013533;
      margin-bottom: 48px;
      text-align: center;
    }
    .line {
      height: 3px;
      width: 120px;
      border-radius: 3px;
      background-color: #00c5d7;
    }
  }
  .registration-clinic-container {
    display: flex;
    // margin-top: 48px;
    // max-height: 640px !important;
    .wpForm {
      width: 100%;
      .wrapper-form-registration-clinic {
        width: 100%;
        // margin-top: 48px;

        .ant-input-affix-wrapper-focused,
        .ant-input:focus {
          box-shadow: 0 0 0 2px rgba(90, 176, 105, 0.3);
          border-color: white;
        }
        .ant-input {
            border: none;
        }
        .ant-input:hover,
        .ant-input-affix-wrapper:hover {
          border-color: #d9d9d9 !important;
          border: none;
          border-right-width: 1px;
        }

        .input-registration-clinic {
          width: 100%;
          border-radius: 8px;
          background: #ffffff;
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          height: 56px;
          font-size: 16px;
          color: #013533;
          &::placeholder {
            color: #789594;
            font-size: 16px;
          }
        }
        
        .textarea-registration-clinic {
          padding: 16px;
          border-radius: 8px;
          background: #ffffff;
          min-height: 136px;
          font-size: 16px;
          color: #013533;
          &::placeholder {
            color: #789594;
            font-size: 16px;
          }
        }
        .submit-registration-clinic {
          width: 100%;
          color: #ffffff;
          height: 56px;
          padding: 0 48px;
          border-radius: 8px;
          border: none;
          background: #5ab069;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 27px;
        }
      }
    }
  }
}

@include media(lg) {
  .wpRegistrationClinic {
    margin: 50px 15px;
  }
}
@include media(md) {
  .wpRegistrationClinic {
    margin: 50px 15px;
    padding: 21px;
    .title {
      h2 {
        font-size: 24px !important;
      }
    }
    .registration-clinic-container {
      margin-top: 21px;
      .wpClinicImage {
        display: none;
      }
      .input-registration-clinic {
        font-size: 14px !important;
        &::placeholder {
          font-size: 14px !important;
        }
      }
      .select-registration-clinic {
        .ant-select-selection-search-input {
          font-size: 14px !important;
        }
        .ant-select-selection-placeholder {
          font-size: 14px !important;
        }
        .ant-select-selection-item {
          font-size: 14px !important;
        }
      }
      .textarea-registration-clinic {
        font-size: 14px !important;
        &::placeholder {
          font-size: 14px !important;
        }
      }
    }
  }
}
