@import "../../const/settings.scss";
.wpRemarkableService{
    background: #FFF;
    display: flex;
    justify-content: center;
    .wpRemarkableServiceContent{
        max-width: 1200px;
        margin: 64px auto;
        width: 100%;
        .wpTitle {
            justify-content: space-between;
            align-items: center;
            display: flex;
            // flex-direction: column;
            h2 {
              font-size: 30px;
              font-style: normal;
              font-weight: 600;
              line-height: 130%; /* 52px */
            //   text-transform: capitalize;
              color: #013533;
              margin-bottom: 24px;
              text-align: center;
            }
            .seeMore{
                color: #789594;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }
            
          }
        .listRemarkableService{
            justify-content: center;
            .itemService{
                box-shadow: 0 0 30px #0000000c;
                transition: box-shadow 0.3s ease;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                background-color: #FFF;
                border-radius: 16px;
                // padding: 32px 24px;
                padding: 16px;
                height: 100%;
                width: 100%;
                .itemImage{
                    justify-content: center;
                    margin-bottom: 24px;
                    width: 100%;
                    .serviceImage{
                        width: 100%;
                        object-fit: cover;
                        border-radius: 8px;
                        height: 150px !important;
                        position: relative !important;
                    }
                }
                .itemTitle{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    h3{
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 150%; 
                        text-transform: capitalize;
                        color: #013533;
                        margin-bottom: 12px;
                    }
                    .level{
                        display: flex;
                        justify-content: flex-start;
                        color: #789594;
                        font-size: 14px;
                        font-weight: 500;
                        align-items: center;
                        span{
                            font-weight: 600;
                        }
                        margin-bottom: 6px;
                    }
                    .statistic{
                        display: flex;
                        justify-content: space-between;
                        .wpLesson{
                            display: flex;
                            color: #789594;
                            font-size: 14px;
                            font-weight: 500;
                            display: flex;
                            align-items: center;
                        }
                        margin-bottom: 16px;
                    }
                    .detail{
                        background-color: #5ab069;
                        height: 40px;
                        border-radius: 8px;
                        text-align: center;
                        padding: 0 24px;
                        font-size: 16px;
                        font-weight: 600;
                        color: #FFF;
                        line-height: 250%;
                    }
                }
            }
        }
    }
}

@include media(lg){
    .wpRemarkableService{
        .wpRemarkableServiceContent{
            margin: 50px 15px;
            .listRemarkableService{
                .itemService{
                    padding: 21px
                }
            }
        }
    }
}

@include media(md){
    .wpRemarkableService{
        .wpRemarkableServiceContent{
            margin: 50px 15px;
            .wpTitle{
                h2{
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 130%;
                }
            }
        }
    }
}
