@import "../../../const/settings.scss";
.wpPageDetailClinic {
  background: #fff;
  .wpDetailClinicDetail {
    .floatButton {
      display: none;
    }
    // .nav {
    //   padding: 15px 0;
    //   display: flex;
    //   max-width: 1200px;
    //   margin: auto;
    // }
    .wpSectionCover {
      position: relative;
      .wpCover {
        display: flex;
        justify-content: center;
        background: #f6f7ea;
        .cover {
          max-width: 995px;
          max-height: 500px;
          margin: auto;
          position: static !important;
          object-fit: cover;
          margin-top: 71px;
          border-top-right-radius: 16px;
          border-top-left-radius: 16px;
          z-index: 9;
        }
      }
      .imgAbove {
        position: absolute;
        top: 0px;
        right: 0px;
      }

      .imgBelow {
        position: absolute;
        bottom: -5px;
        left: 0;
      }
      .imgAboveMobile,
      .imgBelowMobile {
        display: none;
      }
    }
    .wpLineCard {
      display: flex;
      justify-content: center;
    }
    .wpCardInfo {
      //   display: flex;
      //   justify-content: center;
      background: #f9f9f9;
      max-width: 995px;
      width: 100%;
      padding: 24px 48px;
      display: flex;
      flex-direction: column;
      border-radius: 0px 0px 16px 16px;
      align-items: center;
      margin-bottom: 64px;
      .courseTitle {
        color: #013533;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 41.6px */
        text-transform: capitalize;
        margin-bottom: 24px;
      }
      .wpCardBelow {
        display: flex;
        // justify-content: space-evenly;
        .wpbuttonPrice{
          height: 50px;
          border: 1px solid #5a96b0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          font-weight: 600;
          color: #5a96b0;
          border-radius: 8px;
          padding: 0 24px;
          margin-right: 16px;
        }
        .wpbuttonGetAdvise{
          border-radius: 8px;
          height: 50px;
          background-color: #5a96b0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 18px;
          font-weight: 600;
          padding: 0 24px;
          .iconAdvise{
            width: 20px;
            height: 20px;
            margin-right: 8px;
          }
        }
      }
    }
    // .wpMenu {
    //   position: -webkit-sticky; /* Safari */
    //   position: sticky;
    //   top: 82px;
    //   white-space: nowrap;
    //   overflow: auto;
    //   max-width: 1200px;
    //   margin: auto;
    //   margin-top: 64px;
    //   @include media(ssm_430) {
    //     top: 68px;
    //   }
    // }
    .wpDetail{
      display: flex;
      justify-content: center;
      .wpSection {
        display: flex;
        max-width: 1200px;
      //   margin: auto;
        width: 100%;
        .wpColFilter {
          // height: calc(100vh - 68px);
          // overflow: auto;
          // position: sticky;
          // top: 68px;
          .ortherCourses {
            display: flex;
            flex-direction: column;
            background: #f9f9f9;
            padding: 24px;
            border-radius: 16px;
            align-items: center;
            .title{
              font-size: 18px;
              font-weight: 600;
              color: #013533;
              text-align: center;
              margin-bottom: 24px;
            }
            .listItem{
              .item{
                display: flex;
                margin-bottom: 12px;
                align-items: center;
                .imageOtherCourse{
                  height: 70px !important;
                  position: relative !important;
                  width: 125px !important;
                  object-fit: cover;
                  margin-right: 8px;
                  border-radius: 8px;
                }
                .courseTitle{
                  font-size: 16px;
                  color: #013533;
                  font-weight: 500;
                }
              }
            }
          }
    
        }
        .wpColRight{
          .wpContentCourses{
            .wpItemCourse{
              background-color: #f9f9f9;
              display: flex;
              flex-direction: column;
              padding: 24px;
              border-radius: 16px;
              margin-bottom: 16px;
              .titleCourse{
                color: #013533;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 24px;
              }
              .overView{
                margin-bottom: 32px;
                .items{
                  display: flex;
                  align-items: center;
                  .imageItems{
                    width: 40px;
                    height: 40px;
                    margin-right: 8px;
                  }
                  .contentItems{
                    display: flex;
                    flex-direction: column;
                    .titleItems{
                      color: #013533;
                      font-size: 14px;
                      margin-bottom: 4px;
                    }
                    .valueItems{
                      color: #013533;
                      font-size: 16px;
                      font-weight: 500;
                      line-height: normal;
                    }
                  }
                }
              }
              .wpCurri{
                .itemCurri{
                  display: flex;
                  // align-items: center;
                  .imageCurri{
                    width: 50px;
                    height: 50px;
                    margin-right: 8px;
                  }
                  .contentCurri{
                    display: flex;
                    flex-direction: column;
                    .titleCurri{
                      color: #013533;
                      font-size: 16px;
                      font-weight: 600;
                    }
                    .valueCurri{
                      color: #013533;
                      font-size: 16px;
                    }
                  }
                }
              }
            }
            .facebook_plugin {
              margin-top: 32px;
              iframe {
                width: 100% !important;
              }
            }
          }
        }
      
      }
    }

  }
}

// .wrapperListPost {
//   .wpBlockUser {
//     display: flex;
//     margin-bottom: 14px;

//     .img {
//       width: 44px !important;
//       height: 44px !important;
//       border-radius: 50px;
//     }
//   }
// }


@include media(lg) {
  .wpPageDetailClinic {
    .wpDetailClinicDetail {
      .wpSection {
        .wpSectionLeft {
          width: 100%;
        }
        .wpChat {
          display: none;
        }
      }
      .floatButton {
        display: none;
      }
    }
  }
}
@include media(lg) {
  .wpPageDetailClinic {
    .wpDetailClinicDetail {
      .nav {
        margin: 0 20px;
      }
      .wpSectionCover {
        .wpCover {
          padding: 0 20px;
        }
      }
      .wpCardInfo {
        margin: 0 20px;
        padding: 20px;
      }
    }
  }
}
@include media(md) {
  .wpPageDetailClinic {
    .wpDetailClinicDetail {
      .nav {
        margin: 0 15px;
      }
      .wpSectionCover {
        .wpCover {
          padding: 0 15px;
          .cover {
            height: 175px !important;
          }
        }
      }
      .wpCardInfo {
        margin: 0 15px;
        padding: 14px;
        .wpCardAbove {
          .wpCardLeft {
            margin-right: 14px;
            .logo {
              width: 60px !important;
              height: 60px !important;
            }
          }
          .wpCardRight {
            .clinicName {
              font-size: 20px;
            }
            .wpAddress {
              font-size: 14px;
              margin-top: 7px;
            }
            .wpRatingLine {
              margin-top: 7px;
              flex-direction: column;
              align-items: flex-start;
              margin-bottom: 0;
              .wpPoint {
                margin-bottom: 12px;
                .ratingPoint {
                  display: flex;
                  align-items: center;
                  .point {
                    font-size: 16px;
                  }
                  .iconRatingStar {
                    height: 22px;
                    width: 22px;
                  }
                }
                .ratingRank {
                  font-size: 14px;
                }
                .dash {
                  display: none;
                }
              }
              .wpCount {
                margin-bottom: 12px;
                .ratingQuantity {
                  font-size: 12px;
                  .ratingQuantityBold {
                    font-size: 14px;
                  }
                }
                .numberOfConsultation {
                  font-size: 12px;
                  .numberOfConsultationBold {
                    font-size: 14px;
                  }
                }
              }
            }
            .wpLastLine {
              .wpScale {
                margin-top: 0;
                .titleScale {
                  font-size: 14px;
                }
                .valueScale {
                  font-size: 14px;
                }
              }
              .wpTime {
                .titleScale,
                .valueScale {
                  font-size: 14px;
                }
              }
              .wpbuttonGetAdvise {
                display: none;
              }
            }
          }
        }
        // .wpCardBelow {
        //   display: block;
        //   margin-top: 14px;
        //   .wpbuttonGetAdvise {
        //     display: flex;
        //     padding: 14px 21px;
        //     justify-content: center;
        //     align-items: center;
        //     gap: 8px;
        //     border-radius: 8px;
        //     background: var(--Color-BrandColor, #00c5d7);
        //     color: #fff;
        //     cursor: pointer;

        //     /* P3/Bold */
        //     font-size: 14px;
        //     font-style: normal;
        //     font-weight: 600;
        //     line-height: 150%; /* 21px */
        //     .iconAdvise {
        //       margin-right: 8px;
        //     }
        //   }
        // }
      }
      .wpMenu {
        margin-top: 49px;
        top: 68px;
      }
      .wpSection {
        .wpSectionLeft {
          width: 100%;
          .titleSection {
            font-size: 20px;
          }
          .wpSectionOverview {
            // margin: 50px 15px 0;
            .buttonViewReview {
              margin-top: 21px;
              font-size: 12px;
            }
            .wpOverview {
              padding: 21px;
              .wpProgressLine {
                .progressLine {
                  .titleProgressLine {
                    font-size: 14px;
                  }
                  .valueProgressLine {
                    font-size: 14px;
                  }
                }
              }
              .colCircleProgress {
                margin-bottom: 28px;
              }
            }
          }
        }
        // .wpChat{
        //   display: none;
        // }
      }
    }
  }
  
  .wpCardInfo{
    .courseTitle{
      font-size: 24px !important;
    }
    .wpbuttonPrice, .wpbuttonGetAdvise{
      font-size: 14px !important;
    }
  }
  .wpItemCourse{
    .titleCourse{
      font-size: 16px !important;
    }
  }
  .wpLineCard{
    margin-bottom: 16px;
  }
  .wpContentCourses, .wpColFilter{
    padding: 0 15px;
  }
  .wpColFilter{
    margin-bottom: 24px;
  }

}

@include media(md) {
  .wpPageDetailClinic {
    .wpDetailClinicDetail {
      .floatButton {
        border-radius: 99px;
        border: 4px solid #00c5d7;
        height: 80px;
        width: 80px;
        display: block !important;
        position: fixed;
        bottom: 88px;
        right: 14px;
        z-index: 999;
        img {
          border-radius: 99px;
        }
        .arrowFloatButton {
          position: absolute;
          bottom: -2px;
          right: -2px;
        }
        .chatAlert {
          position: absolute;
          left: -4px;
          top: -4px;
        }
      }
      .wpSectionCover {
        position: relative;
        .wpCover {
          display: flex;
          justify-content: center;
          background: #f6f7ea;
          .cover {
            margin-top: 49px;
          }
        }
        .imgAboveMobile {
          display: block !important;
          position: absolute;
          top: 0;
          right: 0;
        }
        .imgBelowMobile {
          display: block !important;
          position: absolute;
          bottom: -5px;
          left: 0;
        }
        .imgAbove,
        .imgBelow {
          display: none;
        }
      }
    }
  }
}
